ul,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.heading__small {
  font-size: 0.75rem;
  margin-bottom: 0.15rem;
  color: #ccc;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.heading__medium {
  font-size: 1rem;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}
